---
import Buttons from '../components/Buttons.astro';
import Form from '../components/Form.astro';
import Toastr from '../components/Toastr.astro'
---
<!DOCTYPE html>
<html lang="ca" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>El penjat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/penjat.css">
	<script type="module" src="/js/penjat.js"></script>
</head>
<body>

<div id="currentPlayer"></div>


<Toastr></Toastr>
<Form></Form>
<div id="maincontainer" class="main_container" style="display: none">
	<div class="scaffold_container">
		<img src="/img/monster0.png" alt="monstre penjat" id="monster" class="monster">
	</div>
	<Buttons></Buttons>
	<div class="letters_container">
		<span id="letters"></span>
	</div>
	<div id="info" class="info">
		<div>
                    <span>
                        <span id="welcome" class="info_msg">No permetis que la massa enfurismada pengi al monstre per no saber vocabulari. Ajuda'l a salvar-se!</span>
                        <span id="game_success" class="info_msg">Has salvat al monstre. Enhorabona!</span>
                        <span id="game_fail" class="info_msg">No has salvat al monstre. Llàstima!</span>
                        <button id="btn_ok" class="btn">Continuar</button>
                    </span>
		</div>
	</div>
</div>
</body>
</html>
