<div class="buttons_container">
    <div id="new_game" class="button new_game">
        <span>new game</span>
    </div>
    <div id="clue" class="button clue">
        <span>?</span>
    </div>
    <div class="button lives">
        <span id="lives">5 LIVES LEFT</span>
    </div>
</div>