<div id="toast-container" class="fixed inset-0 flex flex-col items-end justify-start px-4 py-6 pointer-events-none sm:p-6 sm:items-end sm:justify-start" style="display: none">
    <div id="toast" class="max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto right-0">
        <div class="p-4">
            <div class="flex items-center justify-between">
                <span class="font-bold text-lg">Turno del otro jugador</span>
            </div>
            <p class="text-sm leading-5 text-gray-700 mt-2 text-right" id="toast-message">Espera...</p>
        </div>
    </div>
</div>
